
<logout></logout>
<u>{{currentUser}}</u>
<center>
    <h2><u> User List </u></h2>
    
    <table class="table table-hover">
        <tr>
            <td >
              <center>  <strong> All Users </strong> </center>
            </td>
        </tr>
        <tr *ngFor="let user of users">
            <td *ngIf="user.username != currentUser">
               <center>  <a [routerLink]="['/userdetail', user._id]">{{user.username}}</a></center>
            </td>
        </tr>
    </table>
</center>


